<form
  action="post"
  [formGroup]="formPassword"
  #formDir="ngForm"
  class="forgot shadow"
>
  <h1>Apollo</h1>
  <div>
    <label for="inputPassword5" class="form-label">User</label>
    <input
      type="text"
      class="form-control"
      formControlName="user"
      required
      autocomplete="off"
      name="password"
      placeholder="pitica123"
      aria-describedby="passwordHelpBlock"
    />
  </div>
  <div *ngIf="formPassword.get('user')?.invalid && formDir.submitted" class="err">
    <p *ngIf="formPassword.get('user')!.errors?.['required']">O usuário é obrigatório.</p>
  </div>

  <div class="confirm-password">
    <div>
      <label for="inputPassword6" class="form-label"> Password </label>
      <input
        type="password"
        formControlName="password"
        required
        autocomplete="off"
        id="inputPassword6"
        class="form-control"
        placeholder="****"
      />
    </div>
    <div class="err" *ngIf="formPassword.get('password')!.invalid && formDir.submitted">
      <p>A senha é obirgatória.</p>
    </div>

    <div>
      <label for="inputPassword7" class="form-label"> Confirm Password </label>
      <input
        type="password"
        formControlName="confirmPassword"
        autocomplete="off"
        required
        id="inputPassword7"
        class="form-control"
        placeholder="****"
      />
    </div>
    <div
      class="err"
      *ngIf="
        (formPassword.get('password')!.value !==
          formPassword.get('confirmPassword')?.value) || (formPassword.get('confirmPassword')!.invalid) && formDir.submitted
      "
    >
    <p *ngIf="formPassword.get('confirmPassword')!.errors?.['required']">A senha é obrigatória.</p>
    <p *ngIf="formPassword.get('password')!.value !== formPassword.get('confirmPassword')!.value">As senhas não correspondem.</p>
    </div>
  </div>

  <div class="act-footer">
    <a routerLink="/">remembered my password</a>
    <button
      type="submit"
      class="btn btn-outline-dark"
      (click)="saveNewPassword()"
    >
      Enter
    </button>
  </div>
</form>
