<form action="post" class="forgot shadow">
  <h1>Apollo</h1>
  <div>
    <label for="inputPassword5" class="form-label">User</label>
    <input
      type="text"
      class="form-control"
      formControlName="login"
      required
      autocomplete="off"
      name="password"
      placeholder="pitica123"
      aria-describedby="passwordHelpBlock"
    />
  </div>

  <div class="confirm-password">
    <div>
      <label for="inputPassword6" class="form-label"> Password </label>
      <input
        type="text"
        id="inputPassword6"
        class="form-control"
        placeholder="****"
      />
    </div>

    <div>
      <label for="inputPassword7" class="form-label"> Confirm Password </label>
      <input
        type="text"
        id="inputPassword7"
        class="form-control"
        placeholder="****"
      />
    </div>
  </div>

  <div class="act-footer">
    <a routerLink="/">remembered my password</a>
    <button type="submit" class="btn btn-outline-dark">Enter</button>
  </div>
</form>
