<form action="post" class="shadows">
  <h1>Apollo123</h1>
  <div>
    <label for="inputPassword5" class="form-label">User</label>
    <input
      type="text"
      class="form-control"
      formControlName="login"
      required
      autocomplete="off"
      name="password"
      placeholder="pitica123"
      aria-describedby="passwordHelpBlock"
    />

    <div class="forgot-password">
      <label for="inputPassword6">Password</label>
      <input type="text" id="inputPassword6" placeholder="****" />

      <label for="inputPassword7">Confirm Password</label>
      <input type="text" id="inputPassword7" placeholder="****" />
    </div>
  </div>

  <div>
    <a href="#">forgot my password</a>
    <button type="submit" class="btn btn-outline-dark">Enter</button>
  </div>
</form>
