<form action="post" class="login shadow">
  <h1>Apollo</h1>
  <div>
    <label for="inputPassword5" class="form-label">User</label>
    <input
      type="text"
      class="form-control"
      placeholder="pitica123"
      aria-describedby="passwordHelpBlock"
    />
  </div>
  <div>
    <label for="inputPassword5" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="*********"
      aria-describedby="passwordHelpBlock"
    />
  </div>
  <div>
        <a href="#">forgot my password</a>
      <button type="button" class="btn btn-outline-dark">Enter</button>
  </div>
</form>
